<div class="left-sidebar" style="background-color: white;">
    <h2>Category</h2>
    <div class="panel-group category-products" id="accordian">
        <!--category-productsr-->
        {{#if allType}}
        {{#each allType}}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordian" href="#type-{{idBrand}}" id="parent-{{idBrand}}">
                        <a href="/shop/search?type={{type}}">{{type}}</a>
                        <span class="badge pull-right"><i class="fa fa-plus"></i></span>

                    </a>
                </h4>
            </div>
            <div id="type-{{idBrand}}" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul>


                        {{#each brand}}

                        <li>
                            <div class="panel-dropdown-heading">
                                <h4 class="panel-title drop-color">
                                    <a data-toggle="collapse" data-parent="parent-{{../idBrand}}" href="#brand-{{id}}">

                                        <a href="/shop/search?type={{../type}}&device={{name}}">{{name}}</a>
                                        <span class="badge-brand"><i class="fa fa-plus"></i></span>

                                    </a>
                                </h4>
                            </div>
                            <div id="brand-{{id}}" class="collapse panel-dropdown-collapse">
                                <div class="panel-dropdown-body">
                                    <ul>
                                        {{#each values}}
                                        <li><a
                                                href="/shop/search?producer={{this}}&type={{../../type}}&device={{../name}}">{{this}}</a>
                                        </li>

                                        {{/each}}
                                    </ul>
                                </div>
                            </div>
                        </li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
        {{/each}}
        {{/if}}
    </div>
    <!--/category-products-->

    <div class="brands_products">
        <!--brands_products-->
        <h2>Nhãn Hiệu Nổi Bật</h2>
        <div class="brands-name">
            <ul class="nav nav-pills nav-stacked">
                {{#each popularBrand}}
                <li><a href="/shop/search?producer={{_id}}"> <span class="pull-right">({{count}})</span>{{_id}}</a></li>
                {{/each}}
            </ul>
        </div>
    </div>
    <!--/brands_products-->

    <div class="price-range">
        <!--price-range-->
        <h2>Price Range</h2>
        <div class="well text-center">
            <input type="text" class="span2" value="" data-slider-min="0" data-slider-max="600" data-slider-step="5"
                data-slider-value="[250,450]" id="sl2"><br />
            <b class="pull-left">$ 0</b> <b class="pull-right">$ 600</b>
        </div>
    </div>
    <!--/price-range-->

    <div class="shipping text-center">
        <!--shipping-->
        <img src="images/home/shipping.jpg" alt="" />
    </div>
    <!--/shipping-->

</div>