<div class='main-cart'>
	<section id="cart_items">
		{{#if cart.items.length}}
		<div class="container">
			<div class="breadcrumbs">
				<ol class="breadcrumb">
					<li><a href="#">Home</a></li>
					<li class="active">Shopping Cart</li>
				</ol>
			</div>
			<div class="table-responsive cart_info">
				<div class="table table-condensed">
					<table class="table-value">

						{{!-- <thead>
							<tr class="cart_menu">
								<td class="image">Item</td>
								<td class="description"></td>
								<td class="price">Price</td>
								<td class="quantity">Quantity</td>
								<td class="total">Total</td>
								<td></td>
							</tr>
						</thead> --}}

						<tbody>
							<div class="head-cart">
								<div class="logo font-logo">
									TechShop
								</div>
								<div>
									<a href="#" class="share-cart" value="/cart/share-cart/{{cart._id}}">Chia sẻ giỏ
										hàng</a>
								</div>
							</div>
							<div class="cart-line"></div>

							<!-- Button trigger modal -->
							<!-- Button trigger modal -->
							<button type="button" class="btn btn-primary" data-toggle="modal" id="button-modal"
								data-target="#exampleModal" style="display:none;">
								Chia sẻ giỏ hàng tới bạn bè
							</button>

							<!-- Modal -->
							<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
								aria-labelledby="exampleModalLabel" aria-hidden="true">
								<div class="modal-dialog" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
											<button type="button" class="close" data-dismiss="modal" aria-label="Close"
												style="margin-top:-2rem">
												<span aria-hidden="true">&times;</span>
											</button>
										</div>
										<div class="modal-body">
											<div>Hãy copy đoạn mã này tới bạn bè và dán vào giỏ hàng của
												bạn bè để cũng nhau mua hàng nhé.</div>
											<br>
											<input id="share-cart-token" type="text" placeholder="" value=""
												style="width:50%;">
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary"
												data-dismiss="modal">Close</button>
											<button type="button" class="btn btn-primary">Save changes</button>
										</div>
									</div>
								</div>
							</div>
							{{#each cart.items}}
							<tr>
								<td class="cart_product">
									<a href="/product-details/{{slugname}}"><img class="img_product" src="{{thumbnail}}"
											alt="" width="90" height="100"></a>
								</td>
								<td class="cart_description">
									<h4><a href="/product-details/{{slugname}}">{{name}}</a></h4>
								</td>

								<td class="cart_quantity">
									<div class="cart_quantity_button">
										{{#if checkItem}}
										<button class="cart_quantity_change btn-plus" href="#" value="1"
											name="{{slugName}}"> <i class="fa fa-plus"></i></button>
										<input class="cart_quantity_input {{itemId}}_price" type="text" name="quantity"
											value="{{quantity}}" size="2" readonly>
										<button class="cart_quantity_change {{itemId}}_btn-minus" href="#" value="-1"
											name="{{slugName}}"> <i class="fa fa-minus"></i> </button>
										{{else}}
										<button class="cart_quantity_change btn-plus" href="#" value="1"
											name="{{slugName}}"> <i class="fa fa-plus"></i></button>
										<input class="cart_quantity_input {{itemId}}_price" type="text" name="quantity"
											value="{{quantity}}" size="2" readonly>
										<button class="cart_quantity_change {{itemId}}_btn-minus" href="#" value="-1"
											name="{{slugName}}" disabled> <i class="fa fa-minus"></i></button>
										{{/if}}
									</div>
								</td>
								<td class="cart_total">
									<p class="cart_total_price {{itemId}}">{{price}}</p>
								</td>
								<td class="cart_delete">
									<button class=" cart_quantity_delete cart_quantity_change" name="{{slugName}}"
										value="0"><i class="fa fa-times"></i></button>
								</td>
							</tr>
							{{/each}}

						</tbody>
					</table>
				</div>
				<div class="checkout-all">
					<div class="checkout-promotion">
						<div class="checkout-name"><strong>Mã khuyến mãi</strong></div>
						<div class="form-group">


							<input class="form-control" type="text"
								placeholder="{{#if cart.promotionCode}}{{cart.promotionCode}}{{else}}Nhập mã khuyến mãi{{/if}}"
								value="{{#if cart.promotionCode}}{{cart.promotionCode}}{{/if}}" name="promotionCode"
								id="form-apply-promotion" {{#if cart.promotionCode}} disabled {{/if}} />


							<button onclick="return AnhThai(this);"
								class="btn btn-default {{#if cart.promotionCode}}remove-promotion{{else}}apply-promotion{{/if}}"
								id="submit-promotion" value="{{cart._id}}" type="submit">
								{{#if cart.promotionCode}}Hủy sử dụng{{else}}Sử dụng{{/if}}</button>


						</div>
					</div>
					<div class="checkout-payment">

						<div class="checkout-name"><strong>Thanh toán</strong></div>
						<div class="total_area">
							<div class="des-checkout">
								<div>
									<div class="title-checkout" style="margin-bottom: 0.8rem">
										Tạm tính
									</div class="title-checkout">
									<div class="title-checkout">
										Khuyến mãi
									</div>
									<div class="title-checkout">
										Thành tiền
									</div>

								</div>
								<div>
									<div class="value-checkout">
										<span class="totalCost">{{cart.totalCost}}</span>
									</div>
									<div class="value-checkout promotion-code">
										{{#if cart.discountPrice}}
										{{cart.discountPrice}}&nbsp;({{cart.discountRate}}%)
										{{else}}
										Không
										{{/if}}
									</div>
									<div class="value-checkout checkout-final">
										<span class="totalCost totalPayment">
											{{#if cart.payment}}

											{{cart.payment}}
											{{else}}
											{{cart.totalCost}}
											{{/if}}
										</span>
									</div>
								</div>
							</div>

							<div class="float-right">
								<a class="btn btn-default check_out" href="/checkout">Check Out</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--/#cart_items-->

	<section id="do_action">
		<div class="container">
			<div class="row">


			</div>
		</div>
		{{else}}
		<div class="center-table" style="text-align: center; margin-bottom: 200px;margin-top: 200px;">
			<h3>You have not put in your cart any products!</h3>
			<h6 class="pt-3">
				<span><a class="text-success" href="/">Continue shopping</a></span>
			</h6>
		</div>
		{{/if}}


	</section>
	<!--/#do_action-->

</div>

<script>
	function AnhThai(self) {

		if ($("#form-apply-promotion").val() === "")
			return;

		if ($("#submit-promotion").hasClass("apply-promotion")) {
			self.innerHTML = "Hủy sử dụng";
			self.classList.add("remove-promotion");
			self.classList.remove("apply-promotion");
		} else {
			self.innerHTML = "Sử dụng";
			self.classList.add("apply-promotion");
			self.classList.remove("remove-promotion");
		}
		return false;
	}
</script>