<section id="slider">
    <!--slider-->
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div id="slider-carousel" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#slider-carousel" data-slide-to="1"></li>
                        <li data-target="#slider-carousel" data-slide-to="2"></li>
                    </ol>

                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="col-sm-6">
                                <h1><span>TECH</span>SHOP</h1>
                                <h2>Free E-Commerce Template</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. </p>
                                <button type="button" class="btn btn-default get">Get it now</button>
                            </div>
                            <div class="col-sm-6">
                                <img src="https://fptshop.com.vn/Uploads/Originals/2020/3/25/637207313358350108_macbook-air-2020-gold-1.png"
                                    class="girl img-responsive" alt="" />
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-sm-6">
                                <h1><span>TECH</span>SHOP</h1>
                                <h2>100% Responsive Design</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. </p>
                                <button type="button" class="btn btn-default get">Get it now</button>
                            </div>
                            <div class="col-sm-6">
                                <img src="https://fptshop.com.vn/Uploads/Originals/2019/7/23/636994883263763784_acer-nitro-5-2019-den-1.png"
                                    class="girl img-responsive" alt="" />
                            </div>
                        </div>

                        <div class="item">
                            <div class="col-sm-6">
                                <h1><span>TECH</span>SHOP</h1>
                                <h2>Free Ecommerce Template</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. </p>
                                <button type="button" class="btn btn-default get">Get it now</button>
                            </div>
                            <div class="col-sm-6">
                                <img src="https://fptshop.com.vn/Uploads/Originals/2020/1/17/637148686729968160_lenovo-legion-y540-den-1.png"
                                    class="girl img-responsive" alt="" />
                            </div>
                        </div>

                    </div>

                    <a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
                        <i class="fa fa-angle-left"></i>
                    </a>
                    <a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>

            </div>
        </div>
    </div>
</section>
<!--/slider-->

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                {{> slidebar}}
            </div>

            <div class="col-sm-9 padding-right">
                <div class="features_items">
                    <!--features_items-->
                    <h2 class="title text-center">Features Items</h2>
                    {{#each product}}
                    <div class="col-sm-4">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo text-center">
                                    <img src="{{images.[0]}}" alt="" />
                                    <h2>{{price}}</h2>
                                    <p>{{name}}</p>


                                    <a href="/product-details/{{slugName}}" class="btn btn-default details"><i
                                            class="fa fa-search-minus"></i>Detail</a>

                                    <a href="#" class="btn btn-default add-to-cart" value="{{slugName}}"><i
                                            class="fa fa-shopping-cart"></i>Add to cart</a>

                                </div>
                                <div class="product-overlay">
                                    <div class="overlay-content">
                                        <h2>{{price}}</h2>
                                        <p>{{name}}</p>
                                        <div class='d-flex justify-content-center'>

                                            <a href="/product-details/{{slugName}}" class="btn btn-default details"><i
                                                    class="fa fa-search-minus"></i>Detail</a>

                                            <a href="#" class="btn btn-default add-to-cart" value="{{slugName}}"><i
                                                    class="fa fa-shopping-cart"></i>Add to cart</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="choose">
                                <ul class="nav nav-pills nav-justified">
                                    <li><a href="#" value="{{slugName}}" class="add-to-like"><i
                                                class="fa fa-plus-square"></i>Add to wishlist</a></li>
                                    <li><a href="#"><i class="fa fa-plus-square"></i>Add to compare</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    {{/each}}


                </div>
                <!--features_items-->

                <div class="category-tab">
                    <!--category-tab-->
                    <div class="col-sm-12">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#tshirt" data-toggle="tab">T-Shirt</a></li>
                            <li><a href="#blazers" data-toggle="tab">Blazers</a></li>
                            <li><a href="#sunglass" data-toggle="tab">Sunglass</a></li>
                            <li><a href="#kids" data-toggle="tab">Kids</a></li>
                            <li><a href="#poloshirt" data-toggle="tab">Polo shirt</a></li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane fade active in" id="tshirt">
                            {{#each shop}}
                            <div class="col-sm-3">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <img src="{{avt}}" alt="" />
                                            <h2>{{basePrice}}</h2>
                                            <p>{{name}}</p>
                                            <a href="#" class="btn btn-default add-to-cart" value="{{slugName}}"><i
                                                    class="fa fa-shopping-cart"></i>Add to cart</a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            {{/each}}

                        </div>

                        <div class="tab-pane fade" id="blazers">
                            {{#each shop}}
                            <div class="col-sm-3">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <img src="{{avt}}" alt="" />
                                            <h2>{{basePrice}}</h2>
                                            <p>{{name}}</p>
                                            <a href="#" class="btn btn-default add-to-cart" value="{{slugName}}"><i
                                                    class="fa fa-shopping-cart"></i>Add to cart</a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            {{/each}}
                        </div>

                        <div class="tab-pane fade" id="sunglass">
                            {{#each shop}}
                            <div class="col-sm-3">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <img src="{{avt}}" alt="" />
                                            <h2>{{basePrice}}</h2>
                                            <p>{{name}}</p>
                                            <a href="#" class="btn btn-default add-to-cart" value="{{slugName}}"><i
                                                    class="fa fa-shopping-cart"></i>Add to cart</a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            {{/each}}
                        </div>

                        <div class="tab-pane fade" id="kids">
                            {{#each shop}}
                            <div class="col-sm-3">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <img src="{{avt}}" alt="" />
                                            <h2>{{basePrice}}</h2>
                                            <p>{{name}}</p>
                                            <a href="#" class="btn btn-default add-to-cart" value="{{slugName}}"><i
                                                    class="fa fa-shopping-cart"></i>Add to cart</a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            {{/each}}
                        </div>

                        <div class="tab-pane fade" id="poloshirt">
                            {{#each shop}}
                            <div class="col-sm-3">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <img src="{{avt}}" alt="" />
                                            <h2>{{basePrice}}</h2>
                                            <p>{{name}}</p>
                                            <a href="#" class="btn btn-default add-to-cart" value="{{slugName}}"><i
                                                    class="fa fa-shopping-cart"></i>Add to cart</a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
                <!--/category-tab-->

                <div class="recommended_items">
                    <!--recommended_items-->
                    <h2 class="title text-center">recommended items</h2>

                    <div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="item active">
                                <div class="col-sm-4">
                                    <div class="product-image-wrapper">
                                        <div class="single-products">
                                            <div class="productinfo text-center">
                                                <img src="https://fptshop.com.vn/Uploads/Originals/2020/3/25/637207313358350108_macbook-air-2020-gold-1.png"
                                                    alt="" />
                                                <h2>34990000 VND</h2>
                                                <p>MacBook Air 13" 2020 1.1GHz Core i5 512GB</p>
                                                <a href="#" class="btn btn-default add-to-cart"><i
                                                        class="fa fa-shopping-cart"></i>Add to cart</a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="product-image-wrapper">
                                        <div class="single-products">
                                            <div class="productinfo text-center">
                                                <img src="https://fptshop.com.vn/Uploads/Originals/2019/7/23/636994883263763784_acer-nitro-5-2019-den-1.png"
                                                    alt="" />
                                                <h2>28790000 VND</h2>
                                                <p>Laptop Acer Nitro 5 AN515 54 779S i7 9750H/8GB/512GB/15.6"FHD/Win 10
                                                </p>
                                                <a href="#" class="btn btn-default add-to-cart"><i
                                                        class="fa fa-shopping-cart"></i>Add to cart</a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="product-image-wrapper">
                                        <div class="single-products">
                                            <div class="productinfo text-center">
                                                <img src="https://fptshop.com.vn/Uploads/Originals/2020/1/17/637148686729968160_lenovo-legion-y540-den-1.png"
                                                    alt="" />
                                                <h2>26490000 VND</h2>
                                                <p>Laptop Lenovo Legion Y540 15IRH i7 9750H/8GB/1TB SSD/Win10</p>
                                                <a href="#" class="btn btn-default add-to-cart"><i
                                                        class="fa fa-shopping-cart"></i>Add to cart</a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="col-sm-4">
                                    <div class="product-image-wrapper">
                                        <div class="single-products">
                                            <div class="productinfo text-center">
                                                <img src="https://fptshop.com.vn/Uploads/Originals/2020/3/25/637207313358350108_macbook-air-2020-gold-1.png"
                                                    alt="" />
                                                <h2>34990000 VND</h2>
                                                <p>MacBook Air 13" 2020 1.1GHz Core i5 512GB</p>
                                                <a href="#" class="btn btn-default add-to-cart"><i
                                                        class="fa fa-shopping-cart"></i>Add to cart</a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="product-image-wrapper">
                                        <div class="single-products">
                                            <div class="productinfo text-center">
                                                <img src="https://fptshop.com.vn/Uploads/Originals/2019/7/23/636994883263763784_acer-nitro-5-2019-den-1.png"
                                                    alt="" />
                                                <h2>28790000 VND</h2>
                                                <p>Laptop Acer Nitro 5 AN515 54 779S i7 9750H/8GB/512GB/15.6"FHD/Win 10
                                                </p>
                                                <a href="#" class="btn btn-default add-to-cart"><i
                                                        class="fa fa-shopping-cart"></i>Add to cart</a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="product-image-wrapper">
                                        <div class="single-products">
                                            <div class="productinfo text-center">
                                                <img src="https://fptshop.com.vn/Uploads/Originals/2020/1/17/637148686729968160_lenovo-legion-y540-den-1.png"
                                                    alt="" />
                                                <h2>26490000 VND</h2>
                                                <p>Laptop Lenovo Legion Y540 15IRH i7 9750H/8GB/1TB SSD/Win10</p>
                                                <a href="#" class="btn btn-default add-to-cart"><i
                                                        class="fa fa-shopping-cart"></i>Add to cart</a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
                            <i class="fa fa-angle-left"></i>
                        </a>
                        <a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                </div>
                <!--/recommended_items-->

            </div>
        </div>
    </div>
</section>