<section id="advertisement">
    <div class="container">
        <img src="images/shop/advertisement.jpg" alt="" />
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                {{> slidebar}}
            </div>

            <div class="col-sm-9 padding-right">
                <div class="features_items">
                    <!--features_items-->
                    <h2 class="title text-center">Features Items</h2>
                    {{#each products}}
                    <div class="col-sm-4">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo text-center">
                                    <img src="{{images.[0]}}" alt=""
                                        style="border: 1px solid #ddd;  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);" />
                                    <h2>{{price}}</h2>
                                    <p style="width:600px;overflow:hidden;height:50px;line-height:50px;">{{name}}</p>


                                    <a href="/product-details" class="btn btn-default add-to-cart"><i
                                            class="fa fa-search-minus"></i>Detail</a>

                                    <a href="#" class="btn btn-default add-to-cart "><i
                                            class="fa fa-shopping-cart"></i>Add to cart</a>

                                </div>
                                <div class="product-overlay">
                                    <div class="overlay-content">
                                        <h2>{{price}}</h2>
                                        <p>{{name}}</p>
                                        <div class='d-flex justify-content-center'>

                                            <a href="/product-details/{{_id}}" class="btn btn-default add-to-cart "><i
                                                    class="fa fa-search-minus"></i>Detail</a>

                                            <a href="#" class="btn btn-default add-to-cart "><i
                                                    class="fa fa-shopping-cart"></i>Add to cart</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="choose">
                                <ul class="nav nav-pills nav-justified">
                                    <li><a href="#"><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
                                    <li><a href="#"><i class="fa fa-plus-square"></i>Add to compare</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    {{/each}}



                    <!--features_items-->
                </div>
                <div class="pagination">
                    <ul>
                        <li href="" class="previous-paging">&laquo;</li>

                        {{{pagingList page maxPage}}}
                        <li href="#" class="next-paging">&raquo;</a>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</section>

{{!--
<script>
    function ClickPaging(self) {

        const pagingPage = $("div.pagination ul").children();

        for (let i = 0; i < pagingPage.length; i++) {

            if (pagingPage.eq(i).hasClass("active")) {
                pagingPage.eq(i).removeClass("active");
            }
        }


        $(self).addClass("active");
    }

    function ClickNext(self) {

        const pagingPage = $("div.pagination ul").children();
        //+1 if next -1 if pevious
        var type = 1;
        var firstIndex = +pagingPage.eq(1).html();
        if ($(self).hasClass("previous-paging")) {
            if (pagingPage.eq(1).html() === "1") {
                pagingPage.eq(0).attr("disabled", true);
                return;
            }
            type = -1;

        }

        //increase page

        firstIndex += type;


        for (let i = 1; i < pagingPage.length - 1; i++) {
            pagingPage.eq(i).html(firstIndex.toString());
            firstIndex += 1;
        }
    }
</script> --}}